<template>
  <v-content class="content-bg">
    <!-- 브레드 크럼 컴포넌트 -->
    <breadcrumb></breadcrumb>
    <transition name="fade-transform" mode="out-in">
      <keep-alive>
        <!-- 콘텐츠 중첩 라우트 -->
        <router-view></router-view>
      </keep-alive>
    </transition>
    <v-overlay :value="overlay" opacity="1">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </v-content>
</template>

<script>
import Breadcrumb from "@/components/breadcrumb/Breadcrumbs";
export default {
  components: {
    Breadcrumb
  },
  data: () => ({
    overlay: false,
    opacity: false
  }),
  created() {
    this.overlay = true;
  },
  mounted() {
    setTimeout(() => {
      this.overlay = false;
    }, 1500);
  }
};
</script>

<style scoped>
.content-bg {
  background-color: #eeeeeec9;
}
</style>