<template>
  <v-app>
    <div class="app-wrapper">
      <!-- 상단 네비게이션 -->
      <nav-bar></nav-bar>
      <div class="main-container">
        <!-- 사이드바 네비게이션 -->
        <side-bar></side-bar>
        <!-- 중첩 콘텐츠 컴포넌트 -->
        <app-main></app-main>
        <!-- 하단 푸터 컴포넌트 -->
        <footer-bar></footer-bar>
      </div>
    </div>
  </v-app>
</template>

<script>
import NavBar from "./components/navbar"
import SideBar from "./components/sidebar"
import AppMain from "./components/AppMain"
import FooterBar from "./components/footer"

export default {
  name: "Layout",
  components: {
    NavBar,
    SideBar,
    AppMain,
    FooterBar
  }
};
</script>
