<template>
  <v-navigation-drawer app dark clipped v-model="drawer" class="navBg">
    <v-list class="lighten-4">
      <template v-for="(item, i) in items">
        <v-row v-if="item.heading" :key="i" align="center">
          <v-col cols="6">
            <v-subheader v-if="item.heading">{{ item.heading }}</v-subheader>
          </v-col>
          <v-col cols="6" class="text-right">
            <v-btn small text>edit</v-btn>
          </v-col>
        </v-row>
        <v-list-group
          v-else-if="item.children"
          :key="item.text"
          v-model="item.model"
          :prepend-icon="item.model ? item.icon : item['icon-alt']"
          append-icon
        >
          <template v-slot:activator>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>{{ item.text }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
          <v-list-item
            v-for="(child, i) in item.children"
            :key="i"
            link
            :style="{marginLeft: '71px'}"
          >
            <v-list-item-action v-if="child.icon">
              <v-icon>{{ child.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title :style="{color: '#ddd'}">{{ child.text }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
        <v-list-item v-else :key="item.text" link :class="{active : i === 0}">
          <v-list-item-action>
            <v-icon :class="{activeColor: i === 0}">{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title :class="{activeColor: i === 0, weight700: i === 0}">{{ item.text }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-list>
    <!-- <template v-slot:append>
      <div class="pa-2">
        <v-btn dark color="blue-grey darken-4" block>Logout</v-btn>
      </div>
    </template>-->
  </v-navigation-drawer>
</template>

<script>
export default {
  data: () => ({
    items: [
      { icon: "dashboard", text: "대시보드" },
      {
        icon: "mdi-chevron-up",
        text: "가상 PC 정보",
        "icon-alt": "mdi-chevron-down",
        model: true,
        children: [
          { text: "가상 PC 목록" },
          { text: "가상 PC 신청" },
          { text: "가상 PC 반납" }
        ]
      },
      {
        icon: "mdi-chevron-up",
        "icon-alt": "mdi-chevron-down",
        text: "가상 PC 관리",
        model: false,
        children: [
          { text: "자가 오류 복구" },
          { text: "자원 증설 신청" },
          { text: "장애 처리 신청" },
          { text: "보안정책 연결 신청" },
          { text: "스냅샷 및 복원" }
        ]
      },
      { icon: "payment", text: "요금 관리" },
      { icon: "help", text: "고객센터" }
    ]
  }),
  computed: {
    drawer: {
      get() {
        return this.$store.getters.getStateDrawer;
      },
      set(val) {
        this.$store.commit("setDrawer", val);
      }
    }
  }
};
</script>

<style scoped>
.v-list-group >>> .v-list-group__items {
  background-color: #2c353c;
}
.weight700 {
  font-weight: 700 !important;
}
.active {
  background-color: rgba(161, 194, 250, 0.16);
}
.activeColor {
  color: #ffffff !important;
}
.navBg {
  background: #232935 !important;
}
.subMenuBg {
  background-color: #2c353c;
}
</style>