<template>
  <section id="feed">
    <v-container :style="{padding: '5px'}">
      <v-layout wrap>
        <v-flex xs12 class="md12" :style="{marginRight: '15px'}">
          <v-breadcrumbs class="float-right mr-15" :items="items" divider="/"></v-breadcrumbs>
        </v-flex>
      </v-layout>
    </v-container>
  </section>
</template>

<script>
export default {
  name: "Breadcrumbs",
  data: () => ({
    items: [
      {
        text: "Home",
        disabled: false,
        href: "breadcrumbs_dashboard"
      },
      {
        text: "Dashboard",
        disabled: false,
        href: "breadcrumbs_link_1"
      }
    ]
  })
};
</script>