<template>
  <div>
    <v-app-bar app dark clipped-left color="blue darken-3">
      <v-app-bar-nav-icon @click="$store.commit('toggleDrawer')" />
      <span class="title ml-3 mr-5">
        <v-img :src="require('@/assets/img_logo.png')" />
      </span>
      <v-spacer />
      <v-btn icon>
        <v-icon>mdi-apps</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>mdi-bell</v-icon>
      </v-btn>
      <v-btn icon large @click="testDialog">
        <v-avatar size="32px" item>
          <v-img src="https://avatars1.githubusercontent.com/u/17153380?s=40&v=4" alt="Vuetify" />
        </v-avatar>
      </v-btn>
    </v-app-bar>
    <common-dialog :dialog="toggle" @close="toggle = false" />
  </div>
</template>

<script>
import commonDialog from '@/components/base/Dialog'

export default {
  props: {
    source: String
  },
  data: () => ({
    toggle: false
  }),
  components: {
    commonDialog
  },
  methods: {
    testDialog() {
      this.toggle = !this.toggle
    }
  }
};
</script>

<style>
#keep .v-navigation-drawer__border {
  display: none;
}
.v-application .blue.darken-3 {
  background-color: #e21837 !important;
  border-color: #e21837 !important;
}
.font--weight {
  font-weight: 700 !important;
}
.active {
  background-color: rgba(161, 194, 250, 0.16);
}
.activeColor {
  color: #3367d6 !important;
}
</style>