<template>
  <!-- Flex를 사용하기 위해서는 container < layout < flex 순서가 필요함. -->
  <v-card class="mb-5 mx-5">
    <v-card-title :style="{display: 'inline-flext', fontSize: '23px', padding: '22px 22px 5px'}">
      <v-icon :style="{fontSize: '28px'}">dashboard</v-icon>
      <span class="pl-2" :style="{fontWeight: 700}">자원 현황</span>
    </v-card-title>
    <v-container grid-list-xl :style="{padding: '22px'}">
      <v-alert dense type="info" dismissible>
        I'm a dense alert with a
        <strong>type</strong> of info
      </v-alert>
      <v-layout wrap>
        <!-- xs12 : 모바일에서는 전체 너비를 사용 -->
        <!-- md4 : PC 및 태블릿에서는 12너비중 4너비 부분만 사용-->
        <v-flex xs12 class="md3">
          <base-card height="230" color="grey lighten-1" dark>
            <v-layout fill-height wrap text-xs-right ma-0>
              <v-flex xs12>
                <h1>xs12 / md3</h1>
              </v-flex>
            </v-layout>
          </base-card>
        </v-flex>
        <v-flex xs12 class="md6">
          <base-card height="230" color="grey lighten-1" dark>
            <v-layout fill-height wrap text-xs-right ma-0>
              <v-flex xs12>
                <h1>xs12 / md6</h1>
              </v-flex>
            </v-layout>
          </base-card>
        </v-flex>
        <v-flex xs12 class="md3">
          <base-card height="230" color="grey lighten-1" dark>
            <v-layout fill-height wrap text-xs-right ma-0>
              <v-flex xs12>
                <h1>xs12 / md3</h1>
              </v-flex>
            </v-layout>
          </base-card>
        </v-flex>
        <v-flex xs12 class="md8">
          <base-card height="400" color="grey lighten-1" dark>
            <v-layout fill-height wrap text-xs-right ma-0>
              <v-flex xs12>
                <h1>xs12 / md8</h1>
              </v-flex>
            </v-layout>
          </base-card>
        </v-flex>
        <v-flex xs12 class="md4">
          <base-card height="400" color="grey lighten-1" dark>
            <v-layout fill-height wrap text-xs-right ma-0>
              <v-flex xs12>
                <h1>xs12 / md4</h1>
              </v-flex>
            </v-layout>
          </base-card>
        </v-flex>
        <v-flex xs12 class="md12">
          <base-card height="330" color="grey lighten-1" dark>
            <v-layout fill-height wrap text-xs-right ma-0>
              <v-flex xs12>
                <h1>xs12 / md12</h1>
              </v-flex>
            </v-layout>
          </base-card>
        </v-flex>
        <about />
        <subscribe />
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
// Utilities
export default {
  name: "Feed",
  components: {
    About: () => import("@/components/home/About"),
    Subscribe: () => import("@/components/home/Subscribe")
  },
  data: () => ({})
};
</script>
