<template>
  <v-row justify="center">
    <v-dialog v-model="testToggle" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">User Profile</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="6">
                <v-text-field label="아이디" required :value="form.acct_conn_id"></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field label="이메일" required :value="form.email"></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field label="이름" :value="form.acct_nm"></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field label="서비스 그룹 명" :value="form.serv_grp_nm"></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field label="정책" :value="form.cert_plcy_nm"></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="$emit('close', false)">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
const form = {};

export default {
  data: () => ({
    form: Object.assign({}, form),
    testToggle: false
  }),
  props: {
    dialog: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    dialog(newVal) {
      this.testToggle = newVal;
    }
  },
  mounted() {
    this.form = this.$store.getters.getUser;
  }
};
</script>