<template>
  <v-footer padless dark height="auto">
    <v-col class="text-center" cols="12">
      <strong>COPYRIGHT {{ new Date().getFullYear() }} — BY SK broadband CO.LTD. ALL RIGHTS RESERVED.</strong>
    </v-col>
  </v-footer>
</template>

<script>
export default {};
</script>
