<template>
  <v-app>
    <v-content>
      <v-container grid-list-xl text-xs-center class="mt-1 pt-5">
        <v-layout row wrap>
          <v-flex xs6 offset-xs4 class="md4">
            <v-card color="white" class="ma-5 pa-1">
              <v-form ref="form" lazy-validation class="ma-4 pa-2">
                <v-text-field
                  v-model="form.acct_conn_id"
                  placeholder
                  label="Username"
                  required
                  :append-icon="'person'"
                ></v-text-field>
                <v-text-field
                  placeholder
                  v-model="form.passwd"
                  type="password"
                  label="Password"
                  required
                  class="input-group--focused"
                ></v-text-field>
                <v-btn color="info" large block class="mt-5" @click="login">Login</v-btn>
              </v-form>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
const form = {
  acct_conn_id: "kstory8715",
  passwd: "1851617kK@",
  serv_grp_id: "IN"
};

export default {
  name: "Login-Page",
  data: () => ({
    form: Object.assign({}, form)
  }),
  methods: {
    login() {
      const params = {
        acct_conn_id: this.form.acct_conn_id,
        passwd: this.form.passwd,
        serv_grp_id: this.form.serv_grp_id
      };
      this.$axios.post("/v1/gw/authentications/", params).then(({ data }) => {
        sessionStorage.setItem("acct_conn_id", data.acct_conn_id);
        sessionStorage.setItem("acct_id", data.acct_id);
        sessionStorage.setItem("usr_grp_id", data.usr_grp_id); //사용자 그룹명 검색을 위해 추가함
        sessionStorage.setItem("conn_net_cd", data.conn_net_cd);
        sessionStorage.setItem("cert_plcy_id", data.cert_plcy_id);
        this.$store.dispatch("getUserDispatch", { vm: this }).then(() => {
          const user = this.$store.getters.getUser;
          this.$log.info("user | ", user);
          if (user) {
            this.$router.replace("/dashboard");
          }
        });
      });
    }
  }
};
</script>